@model SplitSync.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset lozinke";
}
@section Styles {
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/[email protected]/css/boxicons.min.css" rel="stylesheet">
}

<section class="auth2 container forms forms-single">
    <div class="form login">
        <div class="form-content">
            <header>Forgot Password</header>
       
            @if (!string.IsNullOrWhiteSpace(Model.InfoMessage as string))
            {
                            <div class="auth2-alert success">@Model.InfoMessage</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage as string))
            {
                        <div class="auth2-alert error">@Model.ErrorMessage</div>
            }

            <form asp-action="ForgotPassword" asp-controller="Account" method="post" novalidate>
                @Html.AntiForgeryToken()

                <p class="desc">
                    Unesi e-mail naloga i poslaćemo ti link za reset lozinke.
                </p>

                <div class="field input-field">
                    <input class="input" type="email" name="Email" placeholder="Email" required />
                </div>

                <div class="field button-field">
                    <button type="submit">Send reset link</button>
                </div>
            </form>

            <div class="form-link">
                <span>Sećaš se lozinke?
                    <a class="link" href="@Url.Action("Login","Account")">Nazad na prijavu</a>
                </span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="~/images/google.png" alt="Google" class="google-img">
                <span>Nastavi sa Google-om</span>
            </a>
        </div>
    </div>
</section>